.charts {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.n_plots {
    display: flex;
    flex-direction: column;
}

.xn_plot {
    background-color: skyblue;
    margin-bottom: 5px;
}

.yn_plot {
    background-color: tomato;
    margin-top: 5px; /*need better margins*/
}

.xy_plot {
    background-color: grey;
    margin-left: 10px;
}

.xy_plot text {
    /*font: 20px -apple-system;  */
	font-size: 1em;
    font-family: -apple-system, BlinkMacSystemFont, 
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", 
    "Fira Sans", "Droid Sans", "Helvetica Neue", 
    sans-serif;

}

.axis line, .axis path {
    shape-rendering: crispEdges;
    stroke: black;
    fill: none;
}

circle {
    fill: black;
}

/*label {
	font-size: 2em;
	font-family: -apple-system, BlinkMacSystemFont, 
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", 
    "Fira Sans", "Droid Sans", "Helvetica Neue", 
    sans-serif;
}*/


input[type=range] {
  width: 100%;
  /*margin-bottom: 10px;*/
}

. body text{
    font-size: 2em;
    font-family: -apple-system, BlinkMacSystemFont, 
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", 
    "Fira Sans", "Droid Sans", "Helvetica Neue", 
    sans-serif;

}