.charts {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.n_plots {
    display: flex;
    flex-direction: column;
}

.xn_plot {
    background-color: skyblue;
    margin-bottom: 5px;
}

.yn_plot {
    background-color: tomato;
    margin-top: 5px; /*need better margins*/
}
  
.xy_plot {
    background-color: grey;
    margin-left: 10px;
}
  
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.charts text {
    /*font: 20px -apple-system;  */
	font-size: 1em;
    font-family: -apple-system, BlinkMacSystemFont, 
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", 
    "Fira Sans", "Droid Sans", "Helvetica Neue", 
    sans-serif;

}

h1 {
    margin-left: auto;
    margin-right: auto;
    font-family: -apple-system, BlinkMacSystemFont, 
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", 
    "Fira Sans", "Droid Sans", "Helvetica Neue", 
    sans-serif;
    /*text-align: center;*/
}

.axis line, .axis path {
    shape-rendering: crispEdges;
    stroke: black;
    fill: none;
}

circle {
    fill: black;
}


input[type=range] {
  width: 100%;
  /*margin-bottom: 10px;*/
}

body text {
    font-size: 2em;
    font-family: -apple-system, BlinkMacSystemFont, 
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", 
    "Fira Sans", "Droid Sans", "Helvetica Neue", 
    sans-serif;

.links {
    display: inline;
    margin: 1em;
    float: right;
}