

.xy_plot {
    /*display: none;*/
    width: 500;
    height: 500;
    background-color: #edf3ff;

}

.xn_plot {
    background-color: #edf3ff;
    display: none;
}


.xy_plot text {
    /*font: 20px -apple-system;  */
	font-size: 1em;
    font-family: -apple-system, BlinkMacSystemFont, 
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", 
    "Fira Sans", "Droid Sans", "Helvetica Neue", 
    sans-serif;

}

.axis line, .axis path {
    shape-rendering: crispEdges;
    stroke: black;
    fill: none;
}

circle {
    fill: black;
}

/*label {
	font-size: 2em;
	font-family: -apple-system, BlinkMacSystemFont, 
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", 
    "Fira Sans", "Droid Sans", "Helvetica Neue", 
    sans-serif;
}*/


input[type=range] {
  width: 100%;
  /*margin-bottom: 10px;*/
}

. body text{
    font-size: 2em;
    font-family: -apple-system, BlinkMacSystemFont, 
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", 
    "Fira Sans", "Droid Sans", "Helvetica Neue", 
    sans-serif;

}